@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #001935;
    font-family: Anton;
    color: white;
    overflow-x: hidden;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 60vh;
}

h1 {
    font-size: 6rem;
}

.button {
    background-color: #008000;
    font-family: Roboto;
    font-size: 1.5rem;
    margin-left: 2rem;
    cursor: pointer;
    border-radius: .2em;
}

.button:hover {
    background-color: #001935;
    color: #7CFC00;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid {
    margin: 2vmin;
    display: grid;
    background-color: #00cf35;
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
}

.grid div {
    border: 1px solid hsla(0, 0%, 100%, .4)
}

.grid-display {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: #008000;
}

.lookoutpost-container {
    width: 80px;
    height: 40px;
    background-color: brown;
    margin: 20px;
    display: flex;
}

.lookoutpost-vertical-container{
    width: 40px;
    height: 80px;
    background-color: brown;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.footsoldiers-container {
    width: 120px;
    height: 40px;
    background-color: yellow;
    margin: 20px;
    display: flex;
}

.footsoldiers-vertical-container {
    width: 40px;
    height: 120px;
    background-color: yellow;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.supplies-container {
    width: 120px;
    height: 40px;
    background-color: pink;
    margin: 20px;
    display: flex;
}

.supplies-vertical-container {
    width: 40px;
    height: 120px;
    background-color: pink;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.knights-container {
    width: 160px;
    height: 40px;
    background-color: black;
    margin: 20px;
    display: flex;
}

.knights-vertical-container {
    width: 40px;
    height: 160px;
    background-color: black;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.templars-container {
    width: 200px;
    height: 40px;
    background-color: red;
    margin: 20px;
    display: flex;
}

.templars-vertical-container {
    width: 40px;
    height: 200px;
    background-color: red;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.army div {
    width: 40px;
    height: 40px;
}

.lookoutpost {
    background-color: brown;
}

.footsoldiers {
    background-color: yellow;
}

.supplies {
    background-color: pink;
}

.knights {
    background-color: black;
}

.templars {
    background-color: red;
}

.hit {
    background-color: hsl(30, 100%, 50%);
}

.missed {
    background-color: grey;
}