.container {
    display: flex;
}

.grid-assassin {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 40px;
}

.grid div {
    width: 60px;
    height: 60px;
}

.grid-templar {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 40px;
}

.grid-display {
    width: 500px;
    height: 500px;
    margin: 40px;
    background-color: indigo;
}

.lookoutpost-container {
    width: 80px;
    height: 40px;
    background-color: brown;
    margin: 20px;
    display: flex;
}

.lookoutpost-vertical-container{
    width: 40px;
    height: 80px;
    background-color: brown;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.footsoldiers-container {
    width: 120px;
    height: 40px;
    background-color: yellow;
    margin: 20px;
    display: flex;
}

.footsoldiers-vertical-container {
    width: 40px;
    height: 120px;
    background-color: yellow;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.supplies-container {
    width: 120px;
    height: 40px;
    background-color: pink;
    margin: 20px;
    display: flex;
}

.supplies-vertical-container {
    width: 40px;
    height: 120px;
    background-color: pink;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.knights-container {
    width: 160px;
    height: 40px;
    background-color: black;
    margin: 20px;
    display: flex;
}

.knights-vertical-container {
    width: 40px;
    height: 160px;
    background-color: black;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.templars-container {
    width: 200px;
    height: 40px;
    background-color: red;
    margin: 20px;
    display: flex;
}

.templars-vertical-container {
    width: 40px;
    height: 200px;
    background-color: red;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.army div {
    width: 80px;
    height: 80px;
}

.lookoutpost {
    background-color: brown;
}

.footsoldiers {
    background-color: yellow;
}

.supplies {
    background-color: pink;
}

.knights {
    background-color: black;
}

.templars {
    background-color: red;
}