@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
    color: white;
    overflow-x: hidden;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35em;
    background-image: url('images/header.jpg');
    background-size: 100%;
}

h1 {
    font-family: Anton;
    font-size: 6rem;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    height: 1vh;
}

h2 {
    font-family: Montserrat;
    color: black;
    font-size: 2em;
    margin-top: 7em;
}

p {
    font-family: Karma;
    font-size: 0.90rem;
    color: black;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
}

.hidden-info {
    align-items: center;
    flex-direction: column;
    letter-spacing: 1px;
    text-shadow: 2px 2px black;
}

.button {
    background-color: #72bcd4;
    font-family: Montserrat;
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px black;
    margin-left: 2rem;
    cursor: pointer;
    border-radius: .2em;
}

.button:hover {
    background-color: #d580ff;
    color: white;
    text-shadow: 1px 1px black;
}

.player-info {
    font-family: Karma;
    color: black;
    font-size: 1.5rem;
    margin: 1.5rem;
    text-shadow: 0px 0px white;
}

#info {
    font-family: Karma;
    color: black;
    text-shadow: 0px 0px white;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid {
    margin: 2vmin;
    margin-top: 8em;
    display: grid;
    background-color: #00cf35;
    /*code from webdev simplified*/
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
}

.grid div {
    border: 1px solid hsla(0, 0%, 100%, .4)
}

.grid-display {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: #008000;
}

.grid-templar > .lost {
    background-color: #00cf35 !important;
    border-radius: 0 !important;
}

.missed,
.hit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hit::after,
.missed::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
}

.missed::after {
    background-color: white;
}

.hit::after {
    background-color:#FF7700;
}

.lookoutpost-container {
    width: 80px;
    height: 40px;
    background-color: brown;
    margin: 20px;
    display: flex;
}

.lookoutpost-vertical-container{
    width: 40px;
    height: 80px;
    background-color: brown;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.footsoldiers-container {
    width: 120px;
    height: 40px;
    background-color: yellow;
    margin: 20px;
    display: flex;
}

.footsoldiers-vertical-container {
    width: 40px;
    height: 120px;
    background-color: yellow;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.supplies-container {
    width: 120px;
    height: 40px;
    background-color: pink;
    margin: 20px;
    display: flex;
}

.supplies-vertical-container {
    width: 40px;
    height: 120px;
    background-color: pink;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.knights-container {
    width: 160px;
    height: 40px;
    background-color: black;
    margin: 20px;
    display: flex;
}

.knights-vertical-container {
    width: 40px;
    height: 160px;
    background-color: black;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.templars-container {
    width: 200px;
    height: 40px;
    background-color: #f70d1a;
    margin: 20px;
    display: flex;
}

.templars-vertical-container {
    width: 40px;
    height: 200px;
    background-color: #f70d1a;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.army div {
    width: 40px;
    height: 40px;
}

.lookoutpost {
    background-color: brown;
}

.footsoldiers {
    background-color: yellow;
}

.supplies {
    background-color: pink;
}

.knights {
    background-color: black;
}

.templars {
    background-color: red;
}